@import "tailwindcss";

@layer utilities {
  .reveal-on-scroll {
    animation: fadeInUp linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Memaksa color scheme browser ke tingkat sistem.
  Ini akan mencegah browser HP melakukan 'Force Invert' warna.
*/
html {
  color-scheme: dark;
}

/* Aturan dasar body global yang sinkron dengan tema gelap ekstrem (Zinc-950)
  dan mempertahankan font inter/syncopate yang sudah kamu set di layout.js
*/
body {
  background-color: #09090b !important; /* Sengaja di-lock ke zinc-950 */
  color: #fafafa !important; /* Sengaja di-lock ke zinc-50 */
}

/* Mencegah intervensi browser mobile jika HP user berada di mode terang/light */
@media (prefers-color-scheme: light) {
  body {
    background-color: #09090b !important;
    color: #fafafa !important;
  }
}
